*{
  scroll-behavior:smooth;
}

#muteButton {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  /* background-color: #ddd; */
  cursor: pointer;
  z-index: 1000;
}

#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;

}
.navCustom{
   
  border-radius: 11px;
}

.fa {
  font-size: 24px;
}

.fa-volume-up::before {
  content: "\f028";
}

.fa-volume-off::before {
  content: "\f026";
}

.border{
  border-radius: 20px;

}
.menu-nav{
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
}
.shadow-box{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.game{
    background: #efefef;
    width:360px;
    height:640px;
    position: relative;
    overflow: hidden;
  background-image: url("https://cdn.discordapp.com/attachments/991289858150649947/1165958275259432971/1.png?ex=6548be43&is=65364943&hm=86bc77517f4f4023c7ccd0d78c4a063ad5da7d0aeebc3c1da6a015ba5ff42012&");

  }
/* .bg{

  background-image: url("https://cdn.discordapp.com/attachments/991289858150649947/1166201556639686746/9.png?ex=6549a0d6&is=65372bd6&hm=34e3afdf7b36c9f139c036184fc102a5d01a14ea1195d36c0dde29531d7e1e16&");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  */
  .score{
    margin-top: 190px;
    font-size: 160px;
    z-index: 20;
    font-family: arial;
    color: #ff0015;
    user-select:none;
    width:100%;
    text-align:center;
  }
  .time{
    color: #000;
  }
  .box{
    
    width: 100px;
    height:100px;
    position:absolute;
    top: -150px;
    transition: transform 1.5s linear;
    cursor: pointer;
    z-index:100;
  }
  
  .move{
     transform:translateY(120vh);
  }
  
  .counter{
    width:100%;
    margin: 0 auto;
    text-align:center;
    font-family:arial;
    color:rgb(255, 255, 255);
    font-weight:bold;
    padding-top:10px;
    font-size:29px;
    position:relative;
    /* z-index:9999; */
  }

.rules{
  width: 100%;
  height: auto;
}
  .button{
    position:relative;
    display:inline-block;
    margin:15px;
  }
  .red-button {
    background-color: rgb(255, 0, 0) !important;
    color: white;
}
.notificationCT{

  position: fixed;
  top: 10px;
  left: 50%;

  transform: translateX(-50%);

  z-index: 22;
}
  .button a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#08d345;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #484848;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #484848;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #484848;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .button a:hover{
    text-decoration: none;
    cursor: pointer;
  }
  .button a:active{
    top:10px;
    background-color:#08d345;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #484848;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #484848;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #484848;
  }
  
.content{
  width: 450px;
  height: auto;
  margin: 0 auto;
  padding: 30px;
}
.nav-pills{
  width: 450px;
}
.nav-item{
  width: 50%;
}
.nav-pills .nav-link{
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #343436;
  color: #fff;
  border-radius: 30px;
  height: 100px;
}
.nav-pills .nav-link.active{
  background: #fff;
  color: #000;
}
.tab-content{
  position: absolute;
  width: 450px;
  height: auto;
  margin-top: -50px;
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-bottom: 50px;
}
.tab-content button{
  border-radius: 15px;
  width: 100px;
  margin: 0 auto;
  float: right;
}
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    /* background-color:#2B1800; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .namegame{
    font-family: auto;
    font-weight: bold;
    font-size: 55px;
  }
  .thele{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height:640px; 
    background-color:rgba(255, 255, 255, 0.8)
  }
  .hd{
    height: 660px; 
    margin-top: 3em; 
    background-color:rgba(255, 255, 255, 0.8)
  }
  .trungthuong{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 !important;
  }

  .dstt{
    width: 100%; 
    height: auto; 
    margin-top: -14px;
    border-top-right-radius: 33px;
  }
  .bgdstt{
    background-color: #ffffff;
    height: 592px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 25px;
  }
  .scroll{
    max-height: 550px; overflow: auto;
  }
  .scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scroll::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color: #FF914D;
    border-radius: 6px;
  }
  
  .scroll::-webkit-scrollbar-thumb:hover {
    background: #a04d12;
  }
  
  @media screen and (max-width: 769px) {
    .thele{
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      margin-bottom: 5em;
    }
    .dstt{
      margin-top: -43px;
    }
    .bgdstt{
      height: 613px;
    }
  }
  @media (min-width: 770px) and (max-width: 982px) {
    .startMB{
      flex-direction: column;
    }
    .button a{
      font-size: 19px;
    }
  }
  
  @media only screen and (max-width: 760px) {
    .game{
      margin-bottom: 50px !important;
    }
    .counter{
      width:100%;
      font-size:40px;
      margin-top: -20px;

    }
    .d-volume{
      top: 0 !important;
      left: 0 !important;
    }
    .volume{
      font-size: 16px;
    }
  }